# {{ ansible_managed }}

{% for host in essentials['ssh']['config'] %}
Host {{ host['Host'] }}
{% if host['HostName'] is defined %}
    HostName {{ host['HostName'] }}
{% endif %}
{% if host['User'] is defined %}
    User {{ host['User'] }}
{% endif %}
{% if host['IdentityFile'] is defined %}
    IdentityFile ~/.ssh/{{ host['IdentityFile'] }}
{% endif %}
{% if host['StrictHostKeyChecking'] is defined %}
    StrictHostKeyChecking {{ host['StrictHostKeyChecking'] }}
{% endif %}

{% endfor %}

