# {{ ansible_managed }}

{% for host in user.ssh.config | default([]) %}
{% for directive, value in host|dictsort(true) %}
{% if directive == "Host" %}
Host {{ value }}
{% else %}
    {{ directive }} {{ value }}
{% endif %}
{% endfor %}

{% endfor %}
